@model SearchEngines.Web.DTO.SearchResponseDto
@{
    ViewData["Title"] = "Search Page";
}

<form method="Get" action="">
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Search text..." id="search-text" name="searchText">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit">Search</button>
        </div>
    </div>
</form>

@if (Model != null)
{
<div class="container">
    @if (Model.HasError)
    {
        <div class="alert alert-warning">@Model.Error</div>
    }
    
    <div>@Model.SearchSystem</div>

    @if (Model.SearchResults != null)
    {
        foreach (var result in Model.SearchResults)
        {
            <div class="card">
                <div class="card-body">
                    <div>
                        <a target="_blank" href="@result.Url">@result.HeaderLinkText</a>
                    </div>
                    <div>
                        @result.PreviewData
                    </div>
                </div>
            </div>
        }
    }
</div>
}